 .modal3 {
     display: none;
     /* Hidden by default */
     position: fixed;
     /* Stay in place */
     z-index: 1;
     /* Sit on top */
     padding-top: 100px;
     /* Location of the box */
     left: 0;
     top: 0;
     width: 100%;
     /* Full width */
     height: 100%;
     /* Full height */
     overflow: auto;
     /* Enable scroll if needed */
     background-color: rgb(0, 0, 0);
     /* Fallback color */
     background-color: rgba(0, 0, 0, 0.9);
     /* Black w/ opacity */
 }

 #ashu1 {
     border: 2px solid black;
     width: 25%;
     margin: auto;
     height: 70vh;
     background-color: #ccccff;
 }

 span {
     margin-top: 20px;
     margin-left: 12px;
     color: black;
     display: inline-block;
 }

 .div_r {
     float: right;
     display: block;
 }

 #ashu {
     border: 2px solid black;
     width: 50%;
     margin: auto;
     height: 70vh;
     background-color: #98B4D4;
 }

 #p {
     padding: 20px;
     text-align: center;
 }

 .a {
     text-align: right;
 }

 #p button {
     width: 42%;
     height: 30px;
     background-color: #ffb76f;
 }

 #temp {
     background-color: #ffb76f;
 }

 hr {
     border-color: black;
     border: none;
     height: 1px;
     background: black;
 }

 p {
     padding: 0px;
 }

 button:hover {
     cursor: pointer;
 }

 .p {
     padding: 6px;
 }

 .l {
     text-align: center;
     width: 100%;
     color: black;
     background-color: #98B4D4;
     margin-bottom: 1em;
 }

 .age {
     text-align: center;
     width: 40%;
     color: black;
     background-color: #98B4D4;
 }

 .mn {
     background-color: #efe4b0;
     color: black;
     display: inherit;
 }

 #append td {
     overflow: hidden;
 }

 .m {
     text-align: center;
     width: 100%;
     background-color: #98B4D4;
     margin-bottom: 1em;
 }

 table {
     width: 100%;
 }

 table.fixed {
     table-layout: fixed;
 }

 table.fixed td {
     overflow: hidden;
 }

 th {
     width: 70px;
     text-align: center;
     background-color: #98B4D4;
     margin-bottom: 1em;
 }